<div class="conatiner">
    <div class="row" *ngFor="let d of prdData">
        <div class="col-lg-5 m-5 me-1">
            <img class="card-img-top ind_img" [src]=" 'https://www.artic.edu/iiif/2/' + d['image_id'] + '/full/843,/0/default.jpg'" alt="Card image cap">
        </div>
        <div class="col-lg-6 m-5 ms-1">
            <h3 class="mb-3">{{d.artwork_type_title}}</h3>
            <h2 class="heading">{{d.title}}</h2>
            <h3 class="subheading"><em>{{d.artist_title}}</em></h3>
            <h4 class="subheading1">{{d.artist_display}}</h4>
            <p>{{d.description}}</p>
                                
        </div>
    </div>
</div>
